<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{19,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{33,0},{19,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{52,0},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{83,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{116,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{149,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{182,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{215,0},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{246,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{279,0},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>703_WeChatKWX_joinRoomfnt-m.png</string>
            <key>size</key>
            <string>{312,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48534d186b727b9781659b2f87d0554c:1b13981c5977dffbe41983054bfd6825:bf8bbc232cc854972d1f1a1872d8aaef$</string>
            <key>textureFileName</key>
            <string>703_WeChatKWX_joinRoomfnt-m.png</string>
        </dict>
    </dict>
</plist>
