<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shouzhuayi2.png</key>
			<dict>
				<key>width</key>
				<integer>535</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>kawuxing2.png</key>
			<dict>
				<key>width</key>
				<integer>477</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>mingsigui2.png</key>
			<dict>
				<key>width</key>
				<integer>528</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>ansigui2.png</key>
			<dict>
				<key>width</key>
				<integer>523</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>395</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gangshangpao2.png</key>
			<dict>
				<key>width</key>
				<integer>590</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>dasanyuan2.png</key>
			<dict>
				<key>width</key>
				<integer>547</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>banzihu2.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>shanglou1.png</key>
			<dict>
				<key>width</key>
				<integer>446</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>hu1-gangkai.png</key>
			<dict>
				<key>width</key>
				<integer>434</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>548</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>hu4-duiduihu.png</key>
			<dict>
				<key>width</key>
				<integer>358</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>576</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>KWX_TypeName_NoPlist1.png</string>
			<key>realTextureFileName</key>
			<string>KWX_TypeName_NoPlist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>