<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pen1.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>hu-a1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>hu1-gangkai1.png</key>
			<dict>
				<key>width</key>
				<integer>696</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>hu2-yipaoduoxiang1.png</key>
			<dict>
				<key>width</key>
				<integer>636</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>702</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>hu4-duiduihu1.png</key>
			<dict>
				<key>width</key>
				<integer>575</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gang1.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>561</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>ming2.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>749</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>qidui2.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>561</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>qinyise2.png</key>
			<dict>
				<key>width</key>
				<integer>516</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>qinbanzi2.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>zimo2.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>pen.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>hu-a.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>dianpao.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>732</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>gang.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>862</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>ming.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>KWX_TypeName_NoPlist0.png</string>
			<key>realTextureFileName</key>
			<string>KWX_TypeName_NoPlist0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>