<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>west_discard_board_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_board_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{1,57},{60,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,254},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{115,57},{46,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_discard_tile_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{97,315},{46,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_discard_tile_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,418},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,388},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{49,392},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,356},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,288},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{49,360},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{79,637},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{105,233},{42,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_discard_tile_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{49,292},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{49,450},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,474},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{49,422},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,322},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,26}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{1,446},{46,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{47,484},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{97,363},{42,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_discard_tile_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{91,487},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_discard_tile_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,32}</string>
                <key>spriteSourceSize</key>
                <string>{46,32}</string>
                <key>textureRect</key>
                <string>{{49,326},{46,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_hand_board_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{97,407},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_hand_board_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{97,447},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_hand_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{1,568},{29,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_kou_board_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{63,57},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_kou_board_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{63,104},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_kou_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{1,113},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_meld_board_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{53,151},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_meld_board_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{1,160},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_meld_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{53,198},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_meld_cover_board_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{63,57},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_meld_cover_board_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{1,207},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_meld_cover_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{53,245},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_board_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{53,151},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_board_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{1,160},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_board_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{53,198},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,508},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{115,105},{38,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_table_tile_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{85,551},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{81,611},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{41,608},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,629},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{43,518},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,538},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{85,521},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{73,671},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{105,277},{36,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_table_tile_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{41,578},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{41,636},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,657},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{105,193},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_table_tile_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,599},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{105,151},{40,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>west_table_tile_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{81,581},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,687},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{39,666},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west_table_tile_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{43,548},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>west_mj.png</string>
            <key>size</key>
            <string>{128,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6c959bb77a3977cd1dacdbab99fd76:3c2756878c38031b2738bceffd012d10:a3c5625e699aaffbe2a15c531a405f6e$</string>
            <key>textureFileName</key>
            <string>west_mj.png</string>
        </dict>
    </dict>
</plist>
